@inherits LayoutComponentBase

<PageTitle>Writer.Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <p>@Environment.UserName</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>